@require 'reset.styl';
@require 'variables.styl';

body
  background #f5f5f5
  font-size 13px
  line-height 18px
  font-family 'Helvetica Neue', Arial, Helvetica, sans-serif

button
  border none
  padding 12px
  box-sizing border-box
  font-size 13px
  cursor pointer
  outline 0
  transition background 200ms
  &:disabled
    background-color $gray !important
    cursor auto

input
  box-sizing border-box
  outline 0

.header
  position fixed
  top 0
  left 0
  right 0
  padding 10px 5%
  height 36px
  background #fff
  border-bottom 2px solid #eaeaf3

.logo
  background url('../images/logo.png');
  background-size 100% 100%
  width 200px
  height 36px
  display block
  text-indent -9999px
  overflow hidden
  float left

.user
  float right
  line-height 36px
  cursor pointer
  .fa
    padding-left 10px

.main
  width 90%
  padding-top 60px
  margin 20px auto

.error-box
  background $red
  border 1px solid darken($red, 10%)
  color $white
  padding 10px
  font-size 11px
  margin-bottom 10px

.login-box
  width 300px
  margin 120px auto 20px auto
  background #fff
  border 1px solid $gray-border
  padding 20px
  input
    display inline-block
    line-height 20px
    font-size 13px
    border 1px solid $gray-border
    padding 8px 8px 8px 28px
    width 300px
    transition all 300ms
    &:focus
      border 1px solid darken($gray-border, 10%)
      background-color $yellow-light
  label
    display block
    margin-bottom 8px
    position relative
    i
      color $gray
      line-height 20px
      position absolute
      top 10px
      left 8px
      z-index 9
  button
    color $white
    background-color $green
    padding 12px
    width 300px
    font-size 13px
    &:hover
      background-color darken($green, 10%)

.people
  background $white

.people-list
  &-loader
    height 200px
    text-align center
    padding 20px
  &-header
    font-weight bold
    cursor auto !important
    &:hover
      background transparent !important
  &-person
    clearfix()
    padding 12px 8px
    border-bottom 1px solid $gray-border
    box-sizing border-box
    cursor pointer
    &:last-child
      border-bottom none
    &:hover
      background $yellow-light
    &__name, &__email, &__phone, &__stage, &__agent
      display inline-block
      padding-right 15px
      vertical-align top
      box-sizing border-box
    &__name, &__email, &__phone, &__agent
      width calc(.25 * (100% - 85px))
      text-overflow ellipsis
      white-space nowrap
      overflow hidden
    &__stage
      width 85px
      .stage
        display inline-block
        height 18px
        padding 0px 5px
        background $orange
        color $white
        border-radius 3px
        font-size 10px
        &-seller, &-nurture
          background $green
        &-buyer
          background $blue
        &-hotprospect
          background $red
        &-lead
          background $brown
        &-pending
          background $orange

.person
  clearfix()
  &-title
    margin -20px -20px 0px -20px
    padding 16px 20px
    font-size 18px
    line-height 28px
    border-bottom 1px solid $gray-border
    margin-bottom 10px
    font-weight normal
    color $gray
  &-sidebar, &-fields
    float left
    box-sizing border-box
    min-height 300px
    background $white
  &-sidebar
    width 20%
    padding 20px
    border-left 1px solid $gray-border
    border-right 1px solid $gray-border
    .delete-button
      display block
      margin 20px auto 0
      background-color $red
      color $white
      &:hover
        background-color darken($red, 10%)
    &-picture
      width 74px
      height 74px
      padding 4px
      border-radius 40px
      margin 10px auto
      background-color $white
      border 1px solid $gray-border
      text-align center
      span
        display inline-block
        padding-top 24px
        color $gray
      img
        border-radius 35px
        width 100%
  &-fields
    width 40%
    padding 20px
    border-right 1px solid $gray-border
  &-field
    margin-bottom 2px
    line-height 30px
    &-label
      display inline-block
      font-weight bold
      width 100px
      text-align right
      padding-right 10px
    &-value
      display inline-block
      width 200px
      height 20px
      cursor pointer
      i
        display none
        float right
        line-height 30px
        padding-left 10px
      &:hover i
        display inline
    input
      padding 6px
      width 100%
