$orange =       #EB6841
$red =          #CC333F
$blue =         #00A0B0
$yellow =       #EDC951
$green =        #46ba1f
$brown =        #6A4A3C
$white =        #fff
$gray-light =   #f5f5f5
$gray-border =  #eee
$yellow-light = #FFFCE7
